.calculator {
    width: 220px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    background-color: #DE3163; /* Adding background color */
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ccc;
  }
  